<!-- wp:template-part {"slug":"header","theme":"vela","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"textColor":"black","layout":{"inherit":true}} -->

	<div class="wp-block-group has-black-color has-text-color "><!-- wp:spacer {"height":"150px"} -->

		<div style="height:150px" aria-hidden="true" class="wp-block-spacer"></div>

		<!-- /wp:spacer -->

		<!-- wp:heading {"textAlign":"center","level":1,"textColor":"black","fontSize":"xx-large"} -->

		<h1 class="has-text-align-center has-black-color has-text-color has-xx-large-font-size">404</h1>

		<!-- /wp:heading -->

		<!-- wp:paragraph {"align":"center","backgroundColor":"slateblue","className":"fof-no-mt"} -->

		<p class="has-text-align-center fof-no-mt has-slateblue-background-color has-background"
		>This page seems to have moved or no longer exists.
		</p>

		<!-- /wp:paragraph -->

	</div>

	<!-- /wp:group -->

</main>

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"vela","tagName":"footer"} /-->